.gallery {
  &__hero {
    height: auto;
    padding: 15rem 0;
    width: 100%;
    background-image: url(../img/IMG_0473\ .jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to bottom, rgba(22, 22, 22, 0.5) 0, rgba(22, 22, 22, 0.8) 75%, #161616 100%);
      z-index: 1;
    }
  }

  &__title {
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    font-size: 2.9rem;
    line-height: 2.5rem;
    letter-spacing: .8rem;
    background: -webkit-linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,.4));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__desc {
    position: relative;
    z-index: 1;
    max-width: 20rem;
    background: -webkit-linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,.4));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

