.project {
  background-color: #bdc3c7;;

  &__title {
    font-size: 4.5rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    color: #212529;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__photo {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &__img {
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
  }
}